<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="css/highcharts.css">
	<style>
		#chartBody{
			text-align: center;
		}
		.chart {
			display: inline-block;
			width: 600px;
			height: 400px;
			border: 1px solid #999;
			background-color: #fff;
			margin: 20px;
		}
	</style>
</head>
<body>

<div id="chartBody"></div>

<script src="js/highcharts.js"></script>
<script src="data.js"></script>
<script>
	var board = document.getElementById("chartBody");

	for(var key in reports){
		var div = document.createElement("div");
		div.className = 'chart';
		board.appendChild(div);


		var report = reports[key];
		var dates = [];
		var programCount = [];
		var averageProgramTimeLength = [];
		var efficiency = [];
		var accomplishmentRatio = [];
		for (var i = 0, l = report.length; i < l; i++) {
			var rpt = report[i];
			dates.push(rpt.BeginDate);
			programCount.push(rpt.ProgramCount);
			averageProgramTimeLength.push(rpt.AverageProgramTimeLength);
			efficiency.push(rpt.Efficiency);
			accomplishmentRatio.push(rpt.AccomplishmentRatio);
		}

		Highcharts.chart(div, {

			title: {
				text: key
			},
			subtitle: {
				text: ' '
			},
			credits:{
				enabled : false
			},
			legend: {
				layout: 'vertical',
				align: 'right',
				verticalAlign: 'middle'
			},

			xAxis: {
				categories: dates
			},
			yAxis: {
				title: {
					text: ' '
				}
			},
			plotOptions: {
				/*line: {
				 dataLabels: {
				 enabled: true
				 },
				 enableMouseTracking: false
				 }*/
			},

			series: [{
				name: '节目数',
				data: programCount
			}, {
				name: '节目平均时长',
				data: averageProgramTimeLength
			}, {
				name: '生产效率',
				data: efficiency
			}, {
				name: '完成率(%)',
				data: accomplishmentRatio
			}]

		});
	}


</script>
</body>
</html>