<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title</title>
	<link rel="stylesheet" href="css/highcharts.css">
	<style>
		div{
			box-sizing: border-box;
			font-family: "Microsoft Yahei", Tahoma , Arial, sans-serif;
		}
		h1{
			text-align:center;
			font-weight: 100 ;
		}
		#warp{
			text-align: center;
		}
		.chartBody{
			text-align: center;
			margin: 0 auto 5em auto;
			max-width: 1300px;
		}
		.chart {
			display: inline-block;
			width: 550px;
			height: 300px;
			border: 1px solid #999;
			background-color: #fff;
			margin: 10px;
		}
	</style>
</head>
<body>

<div id="warp"></div>

<script src="js/highcharts.js"></script>
<script src="data.js"></script>
<script>
	var warp = document.getElementById("warp");

	for(var key in reports){

		var report = reports[key];
		var dates = [];
		var programCount = [];
		var accomplishedProgramCount = [];
		var totalProgramTimeLength = [];
		var totalTaskDuration = [];
		var efficiency = [];
		var accomplishmentRatio = [];

		for (var i = 0, l = report.length; i < l; i++) {
			var dailyReport = report[i];
			dates.push(dailyReport.BeginDate);
			programCount.push(dailyReport.ProgramCount);
			accomplishedProgramCount.push(dailyReport.AccomplishedProgramCount);
			totalProgramTimeLength.push(+ (dailyReport.TotalProgramTimeLength /60).toFixed(1));
			totalTaskDuration.push(+ (dailyReport.TotalTaskDuration /60).toFixed(1));
			efficiency.push(dailyReport.Efficiency);
			accomplishmentRatio.push(dailyReport.AccomplishmentRatio);
		}

		var chartBody = document.createElement("div");
		chartBody.className = 'chartBody';
		chartBody.innerHTML = '<h1>'+key+'</h1>';

		var div1 = document.createElement("div");
		div1.className = 'chart';
		chartBody.appendChild(div1);
		warp.appendChild(chartBody);

		Highcharts.chart(div1, {
			credits:{ enabled : false },
			chart: { type: 'column'  },
			title: { text: '节目数量 / 完成数' },
			//subtitle: { text: key },
			legend: {align: 'right'},
			xAxis: {
				categories: dates ,
			},
			yAxis: {
				allowDecimals: false,
				maxPadding : 0.001,
				min: 0,
				title: {
					text: '数量',
					align: 'high'
				}
			},
			plotOptions: {
				column: {
					pointPadding: 0.2,
					borderWidth: 0,
					dataLabels: {
						enabled: false ,
						style: { "fontSize": "9px", "fontWeight": "normal" }
					}
				}
			},
			series: [{
				name: '总数',
				data: programCount, animation :false ,
				color: '#7cb5ec'
			}, {
				name: '完成数',
				data: accomplishedProgramCount, animation :false,
				color: '#639c67'
			}]
		});


		var div2 = document.createElement("div");
		div2.className = 'chart';
		chartBody.appendChild(div2);
		warp.appendChild(chartBody);

		Highcharts.chart(div2, {
			credits:{ enabled : false },
			chart: { type: 'column' },
			title: { text: '总时长 / 总耗时' },
			subtitle: { text: '单位：小时' },
			legend: {align: 'right'},
			xAxis: {
				categories: dates ,
			},
			yAxis: {
				allowDecimals: true,
				maxPadding : 0.001,
				min: 0,
				title: {
					text: '时长（小时）',
					align: 'high'
				}
			},
			plotOptions: {
				column: {
					pointPadding: 0.2,
					borderWidth: 0,
					dataLabels: {
						enabled: false ,
						style: { "fontSize": "9px", "fontWeight": "normal" }
					}
				}
			},
			tooltip: {

			},
			series: [{
				name: '节目时长',
				data: totalProgramTimeLength, animation :false,
				color: '#7cb5ec'
			},{
				name: '耗时',
				data: totalTaskDuration, animation :false,
				color: '#da8441'
			}]
		});


		var div3 = document.createElement("div");
		div3.className = 'chart';
		chartBody.appendChild(div3);
		warp.appendChild(chartBody);

		Highcharts.chart(div3, {
			credits:{ enabled : false },
			chart: { type: 'line' },
			title: { text: '完成率' },
			//subtitle: { text: key },
			legend: {align: 'right' , enabled: false},
			xAxis: {
				categories: dates ,
			},
			yAxis: {
				allowDecimals: true,
				maxPadding : 0.001,
				min: 0 ,
				max: 100,
				title:{
					text: '完成率 %',
					align: 'high'
				}
			},
			plotOptions: {
				line: {
					dataLabels: {
						enabled: true ,
						style: { "fontSize": "11px", "fontWeight": "normal" },
						formatter: function (){
							return this.y + "%";
						}
					},
					enableMouseTracking: false
				}
			},
			series:[{
				name: '完成率',
				color: '#7cb5ec',
				data: accomplishmentRatio, animation :false
			}]
		});

		var div4 = document.createElement("div");
		div4.className = 'chart';
		chartBody.appendChild(div4);
		warp.appendChild(chartBody);

		Highcharts.chart(div4, {
			credits:{ enabled : false },
			chart: { type: 'line' },
			title: { text: '生产效率' },
			//subtitle: { text: key },
			legend: {align: 'right' , enabled: false },
			xAxis: {
				categories: dates ,
			},
			yAxis: {
				allowDecimals: true,
				maxPadding : 0.001,
				min: 0 ,
				//tickAmount: 1,
				title:{
					text: '生产效率',
					align: 'high'
				}
			},
			plotOptions: {
				line: {
					dataLabels: {
						enabled: true,
						style: { "fontSize": "11px", "fontWeight": "normal" },
						formatter: function (){
							if(this.y==0) return '未完成';
							return '1:' + (1/this.y).toFixed(1);
						}
					},
					enableMouseTracking: false
				}
			},
			series:[{
				name: '生产效率',
				color: '#7cb5ec',
				data: efficiency, animation :false
			}]
		});

	}
</script>
</body>
</html>